{% extends 'base.html' %}

{% block container %}
  <h2>Edit Profile</h2>

  <form method="post" action="{{ url_for('edit_profile', user_id = user._id) }}">
    
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="{{user.username}}" /><br />
    </div>

    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" /><br />
    </div>

    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" value="{{user.last_name}}" /><br />
    </div>
    
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" value="{{user.age}}" /><br />

    </div>
    
    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" id="country" name="country" value="{{user.country}}" /><br />
    </div>
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

{% endblock %}
