{% extends 'base.html' %}

{% block container %}
  <h2>Your Friends</h2>

  <div id="user_container">
    {% if friends %}
        {% for friend in friends %}
        <div class="friend">
          <p>Name: {{friend.name}}</p>
          
          <div id="button_div">
            <form action="/findUser" method="POST">
                <input type="hidden" name="userId" value="{{ friend._id }}" id="userId">
                <button type="submit">Find User</button>
            </form>
          </div>

        </div>
        {% endfor %}
    {% else %}
      <p>You don't have any friends yet. :</p>
    {% endif %}
  </div>


{% endblock %}


