{% extends 'base.html' %}

{% block container %}

<h1 class = "send-letter-h1">Compose Letter</h1>

{% if friends %}
    <form class="send-letter-form" id="letterForm" method="post" action="{{ url_for('send_letter') }}">
        <div>
            <label class="send-letter-label" for="to">To:</label>
            <select class="send-letter-select" id="to" name="receiver_id" required>
                {% for friend in friends %}
                    <option  value="{{ friend._id }}">{{ friend.username }}</option>
                {% endfor %}
            </select>
        </div>
       <div>
        <label for="header">Header</label>
        <input type="text" id="header" name="header"><br><br>
       </div>
        <div>
            <label class="send-letter-label" for="letter">Letter:</label>
            <textarea id="letter" name="letter_text" rows="4" required></textarea>
        </div>
        <button type="submit" id="send-letter-btn">Send</button>
    </form>
    
{% else %}
    <p>Find a pal to send a letter!</p>
{% endif %}

{% endblock %}

