{% extends 'base.html' %}

{% block container %}

<h1>Compose Letter</h1>

{% if friends %}
    <form id="letterForm" method="post" action="{{ url_for('send_letter') }}">
        <div>
            <label for="to">To:</label>
            <select id="to" name="receiver_id" required>
                {% for friend in friends %}
                    <option value="{{ friend.id }}">{{ friend.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="letter">Letter:</label>
            <textarea id="letter" name="letter_text" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% else %}
    <p>Find a pal to send a letter!</p>
{% endif %}

{% endblock %}

